tempCodeRunnerFile.py
sign_data.html
test.json
test.py
real.json
ejson.json
etjson.json
userinfo.txt
.DS_Store
example.json

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
