beautifulsoup4==4.9.1
certifi==2020.12.5
cffi==1.14.0
chardet==3.0.4
demjson==2.2.4
idna==2.9
lazy-object-proxy==1.4.3
pycosat==0.6.3
pycparser==2.20
pymemcache==3.4.0
pyOpenSSL==19.1.0
PySocks==1.7.1
pytz==2020.5
PyYAML==5.3.1
requests==2.23.0
soupsieve==2.0.1
typed-ast==1.4.1
urllib3==1.25.8
wrapt==1.11.2
