# File: .github/workflows/repo-sync.yml
name: sync-healsign-scripts
on:
  schedule:
    - cron: '1 0,12,22 * * *'
  workflow_dispatch:
  watch:
    types: started
jobs:
  repo-sync:
    env:
      PAT: ${{ secrets.PAT }} #此处PAT需要申请，教程详见：https://www.jianshu.com/p/bb82b3ad1d11
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false

      - name: sync healsign-scripts
        uses: repo-sync/github-sync@v2
        if: env.PAT
        with:
          source_repo: "https://github.com/viewv/sduhealth.git"
          source_branch: "main"
          destination_branch: "main"
          github_token: ${{ secrets.PAT }}